!!!
html
  head
    title='foosboard'
    link(rel='stylesheet', href='/stylesheets/foosboard.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js')
    script(type='text/javascript', src='/javascripts/foosboard.js')
  body
    #page
      #header
        h2
          a(href="/") foosboard
      #content
        !=body
      #footer
